.footer-container{
    position: relative;
}
.footer-container>hr{
    border: 1px solid var(--lightgray);
}
footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}
.social-footer{
   display: flex;
   gap: 4rem;
}
.social-footer>img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.logo-f>img{
    width:10rem ;
}
.blur-f{
    width: 82rem;
    height: 23rem;
    top:10rem;
    left: 0;
    right: 0;
}